.about-section {
    padding-top: 0rem;
    p {
        padding: 0.75rem;
        margin-bottom: 5rem;
    }
    padding-bottom: 50px;
    padding-left: 0%;
    font-size: large;
    @include media-breakpoint-up(lg) {
        font-size: x-large;
    }
    .featured-text {
        padding: 2rem;
        @include media-breakpoint-up(lg) {
            padding: 0 0 0 2rem;
            border-left: 0.5rem solid $primary;
        }
    }
    .project-text {
        padding: 3rem;
        font-size: 90%;
        @include media-breakpoint-up(lg) {
            padding: 5rem;
            hr {
                border-color: $primary;
                border-width: 0.25rem;
                width: 30%;
            }
        }
    }
}
