#page-top {
    width: 100%;
    position: static;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: #f8f9fa;
    .cont {
        // background: linear-gradient(
        //     to bottom,
        //     $black 0%,
        //     #{fade-out($primary, 0.4)} 80%,
        // );
        background-color: #f8f9fa;
    }
    .tooltip {
        position: relative;
        display: inline-block;
        // border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}

// Prevent tiny vertical scroll and center the intro
html, body { height: 100%; overflow-y: hidden; }
#page-top .cont { min-height: 100vh; display: flex; flex-direction: column; }
#about { flex: 1 0 auto; display: flex; align-items: center; }
