// .mastheadwrapper{
//     background: linear-gradient(
//             to bottom,
//             $black 0%,
//             #{fade-out($primary, 0.4)} 80%,
//         );
// }
.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 2rem;
    // background: linear-gradient(
    //         to bottom,
    //         $black 0%,
    //         #{fade-out($primary, 0.4)} 100%,
    //     );
    // // background-position: center;
    // // background-repeat: no-repeat;
    // // background-attachment: scroll;
    // // background-size: cover;
    // h1 {
    //     font-family: $font-family-special;
    //     font-size: 2.25rem;
    //     line-height: 2.5rem;
    //     letter-spacing: 0.4rem;
    //     background: $white;
    //     -webkit-text-fill-color: transparent;
    //     background-clip: text;
    // }
}
