.projects-section {
    .proj {
        @include media-breakpoint-up(lg) {
            padding: 1.5rem 0rem;
        }
        hr {
            padding-bottom: 1rem;
        }
    }
    h2 {
        color: #333333;
        // padding: 3rem;
        // @include media-breakpoint-up(lg) {
        //     padding: 1.5rem;
        // }
        .v1 {
            color: $primary;
        }
    }
    .icon {
        width: 33px;
        padding: 0%;
        padding-bottom: 4px;
    }
    .project {
        // width: 70vw;
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 1rem;
        display: flex;
        @include media-breakpoint-up(xl) {
            flex-direction: row;
        }
        flex-direction: column;
        .project-links {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    padding: 1.5rem 0;
    @include media-breakpoint-up(lg) {
        padding: 1.5rem 0;
    }
    background: #fff;
    .featured-text {
        padding: 2rem;
        @include media-breakpoint-up(lg) {
            padding: 0 0 0 2rem;
            border-left: 0.5rem solid $primary;
        }
    }
    .app-img {
        align-self: center;
        height: auto;
        width: 300px;
        @include media-breakpoint-up(lg) {
            width: 500px;
        }
    }
    .project-text {
        padding-top: 2rem;
        font-size: 100%;
        @include media-breakpoint-up(xl) {
            padding: 3rem;
            hr {
                border-color: $primary;
                border-width: 0.25rem;
                width: 30%;
            }
        }
    }
    #experience {
        hr {
            border-color: $primary;
            border-width: 0.25rem;
            width: 30%;
        }
        .col {
            padding-left: 10rem;
        }
    }
    .btn-expand {
        border: none;
        // border-bottom: 3px dotted $primary; 
        // border-style: none;
        color: $primary;
        background-color: white;
        font-weight: 700;
        padding-top: 1rem;
        padding-left: 0;
        // margin-top: 1.25rem;
        // background-color: #f8f9fa;
        // color: $gray-700;
        // width: 10rem;
        // height: 3rem;
        // border-color: fade-out($black, 0.5);
        // border-width: 2px;
        // border-radius: 3px;
        // border-style: solid;
        // &:hover {
        //     color: fade-out($black, 0);
        // }
        // &:active {
        //     color: $white;
        // }
    }
    .ex-descrip {
        line-height: 1.7rem;
    }
    .ex {
        padding: 1.5rem 0;
    }
    .ex-text {
        padding-top: 2rem;
        font-size: 100%;
        @include media-breakpoint-up(xl) {
            padding: 3rem;
            hr {
                border-color: $primary;
                border-width: 0.25rem;
                width: 30%;
            }
        }
    }
}
