doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Shreya Sharma

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') My Portfolio.
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') About
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#projects') Projects
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#timeline') Timeline
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#signup') Contact

        // Masthead
        header.masthead
            .container.d-flex.h-100.align-items-center
                .px-md-5
                    h1.text-white.mx-auto Hey,
                    h1.mx-auto I'm Shreya.
                    //- .mx-auto in line below
                    h2.text-white-50.mt-2.mb-5 Welcome to my Portfolio.
                    a.btn.btn-primary.js-scroll-trigger(href='#about') Get Started

        // About
        section#about.about-section.text-center.bg-light
            .container
                .col.justify-content-center
                    .row
                        .col-lg-16
                            .text-center.h-100.project
                                .d-flex.h-100
                                    .project-text.w-100.my-auto.text-center.text-lg-left
                                        h4.text-black About
                                        p.mb-0.text-black-50
                                            | Hey, I'm Shreya! My preferred pronouns are: she/her/hers.
                                        p.mb-0.text-black-50
                                            | I've been in love with coding ever since I discovered what a few lines of code could do.
                                            | I learnt about HTML, CSS and C++ in school and have been exploring the coding world ever since I stepped 
                                            | foot in College. 
                                        p.mb-0.text-black-50
                                            | So far I've worked on GoLang, React, React-native, Android,  
                                        p.mb-0.text-black-50
                                            | I prefer to keep learning, continue challenging myself, and do interesting things that matter.
                                            | Fueled by high energy levels and boundless enthusiasm, I’m easily inspired and more then willing to follow
                                            | my fascinations wherever they take me. I’m passionate, expressive, multi-talented spirit with a natural 
                                            | ability to entertain and inspire. I’m never satisfied to just come up with ideas. Instead I have an almost 
                                            | impulsive need to act on them.
                                        p.mb-0.text-black-50
                                            | My abundant energy fuels me in the pursuit of many interests, hobbies, areas of study
                                            | and artistic endeavors. I’m a fast learner, able to pick up new skills and juggle different projects and 
                                            | roles with relative ease. 
                                        p.mb-0.text-black-50
                                            | When not coding, you'll find me surfing the internet for blogs or neck deep in a book. I'm an avid reader, 
                                            | with my preferences being a techy blog or a thriller novel. I often indulge in baking with a batch of 
                                            | chocolate fudge brownies being my most prized achievement in it. 
                                        hr.d-none.d-lg-block.mb-0.ml-0

        // Projects
        section#projects.projects-section.bg-primary
            .container
                // Featured Project Row
                .row.align-items-center.no-gutters.mb-4.mb-lg-5
                    .col-xl-8.col-lg-7
                        img.img-fluid.mb-3.mb-lg-0(src='assets/img/bg-masthead.jpg', alt='')
                    .col-xl-4.col-lg-5
                        .featured-text.text-center.text-lg-left
                            h4 Shoreline
                            p.text-black-50.mb-0
                                | Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!
                // Project One Row
                .row.justify-content-center.no-gutters.mb-5.mb-lg-0
                    .col-lg-6
                        img.img-fluid(src='assets/img/demo-image-01.jpg', alt='')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white Misty
                                    p.mb-0.text-white-50
                                        | An example of where you can put an image of a project, or anything else, along with a description.
                                    hr.d-none.d-lg-block.mb-0.ml-0
                // Project Two Row
                .row.justify-content-center.no-gutters
                    .col-lg-6
                        img.img-fluid(src='assets/img/demo-image-02.jpg', alt='')
                    .col-lg-6.order-lg-first
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white Mountains
                                    p.mb-0.text-white-50
                                        | Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!
                                    hr.d-none.d-lg-block.mb-0.mr-0

        //- // Portfolio Grid
        //- section#portfolio.page-section.bg-light
        //-     .container
        //-         .text-center
        //-             h2.section-heading.text-uppercase Portfolio
        //-             h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        //-         .row
        //-             .col-lg-4.col-sm-6.mb-4
        //-                 .portfolio-item
        //-                     a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/01-thumbnail.jpg', alt='')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Threads
        //-                         .portfolio-caption-subheading.text-muted Illustration
        //-             .col-lg-4.col-sm-6.mb-4
        //-                 .portfolio-item
        //-                     a.portfolio-link(data-toggle='modal', href='#portfolioModal2')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/02-thumbnail.jpg', alt='')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Explore
        //-                         .portfolio-caption-subheading.text-muted Graphic Design
        //-             .col-lg-4.col-sm-6.mb-4
        //-                 .portfolio-item
        //-                     a.portfolio-link(data-toggle='modal', href='#portfolioModal3')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/03-thumbnail.jpg', alt='')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Finish
        //-                         .portfolio-caption-subheading.text-muted Identity
        //-             .col-lg-4.col-sm-6.mb-4.mb-lg-0
        //-                 .portfolio-item
        //-                     a.portfolio-link(data-toggle='modal', href='#portfolioModal4')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/04-thumbnail.jpg', alt='')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Lines
        //-                         .portfolio-caption-subheading.text-muted Branding
        //-             .col-lg-4.col-sm-6.mb-4.mb-sm-0
        //-                 .portfolio-item
        //-                     a.portfolio-link(data-toggle='modal', href='#portfolioModal5')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/05-thumbnail.jpg', alt='')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Southwest
        //-                         .portfolio-caption-subheading.text-muted Website Design
        //-             .col-lg-4.col-sm-6
        //-                 .portfolio-item
        //-                     a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/06-thumbnail.jpg', alt='')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Window
        //-                         .portfolio-caption-subheading.text-muted Photography



        // Timeline
        section#timeline.page-section.bg-light
            .container
                .text-center
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 May 2017
                                h4.subheading St. Thomas School, Indirapuram
                            .timeline-body
                                p.text-muted
                                    | High School
                                    br
                                    | CGPA: 10
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/2.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 May 2019
                                h4.subheading St. Thomas School, Indirapuram
                            .timeline-body
                                p.text-muted
                                    | Intermediate
                                    br
                                    | Percentage: 95.6
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 July 2019
                                h4.subheading IIT Roorkee
                            .timeline-body
                                p.text-muted
                                    | Bachelor of Technology in Civil Engineering
                                    br
                                    | CGPA: 9.185
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/4.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 January 2020
                                h4.subheading SDSLabs and PAG
                            .timeline-body
                                p.text-muted
                                    | SDSLabs organizes lectures and hackathons and participates in various technical competitions.
                                    br 
                                    | PAG aims to promote Competitive Programming in the campus.
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/5.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 May-August 2020
                                h4.subheading Outreachy
                            .timeline-body
                                p.text-muted
                                    | Selected as an Outreachy intern along with 55 interns worldwide.
                                    br
                                    | Worked on Public Lab Editor from May 2020 to August 2020. 
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/6.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 August 2020
                                h4.subheading HAB59 Hackathon
                            .timeline-body
                                p.text-muted
                                    | Won first prize in the Office Productivity Category in HAB59 Hackathon with our app 
                                    b ikai.
                                    br 
                                    | 
                                    b ikai 
                                    | is a one stop mobile app to scan, edit and share multimedia to make remote collaboration easier.
                    li.timeline-inverted
                        .timeline-image
                            h4
                                | To be
                                br
                                | Continued!

        
        //- // About
        //- - var id = ['carousel-craft']
        //- - var urlname = [{n:114},{n:745},{n:315},{n:622},{n:401}]

        //- section#about.about-section.text-center
        //-     .container
        //-         .row
        //-             .col-lg-8.mx-auto
        //-                 h2.text-white.mb-4 Memories:
        //-         .gallery
        //-             .gallery-main
        //-                 .container
        //-                     #carousel
        //-                         #carousel-example-generic.carousel.slide(data-ride='carousel')
        //-                             <!-- Indicators -->
        //-                             ol.carousel-indicators
        //-                                 - var i = 0
        //-                                 while (i++<5)
        //-                                     if i == 1
        //-                                         li.active(data-target='#carousel-example-generic' data-slide-to='0')
        //-                                     else
        //-                                         li(data-targe='#carousel-example-generic' data-slide-to='1')
                                            
        //-                             <!-- Wrapper for slides -->
        //-                             .carousel-inner(role='listbox')
        //-                                 .item.active
        //-                                     img(src='assets/img/bg-signup.jpg')
        //-                                 .item
        //-                                     img(src='assets/img/bg-masthead.jpg')

        //-                             <!-- Controls -->
        //-                             a.left.carousel-control(href='#carousel-example-generic' role='button' data-slide='prev')
        //-                                 span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        //-                                 span.sr-only Previous
                                        
        //-                             a.right.carousel-control(href='#carousel-example-generic' role='button' data-slide='next')
        //-                                 span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        //-                                 span.sr-only Next

        //- // Portfolio Grid
        //- section#portfolio.page-section.bg-light
        //-     .container
        //-         .text-center
        //-             h2.section-heading.text-uppercase Portfolio
        //-             h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        //-         .row
        //-             .col-lg-4.col-sm-6.mb-4
        //-                 .portfolio-item
        //-                     a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/01-thumbnail.jpg', alt='')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Threads
        //-                         .portfolio-caption-subheading.text-muted Illustration
        //-             .col-lg-4.col-sm-6.mb-4
        //-                 .portfolio-item
        //-                     a.portfolio-link(data-toggle='modal', href='#portfolioModal2')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/02-thumbnail.jpg', alt='')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Explore
        //-                         .portfolio-caption-subheading.text-muted Graphic Design
        //-             .col-lg-4.col-sm-6.mb-4
        //-                 .portfolio-item
        //-                     a.portfolio-link(data-toggle='modal', href='#portfolioModal3')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/03-thumbnail.jpg', alt='')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Finish
        //-                         .portfolio-caption-subheading.text-muted Identity
        //-             .col-lg-4.col-sm-6.mb-4.mb-lg-0
        //-                 .portfolio-item
        //-                     a.portfolio-link(data-toggle='modal', href='#portfolioModal4')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/04-thumbnail.jpg', alt='')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Lines
        //-                         .portfolio-caption-subheading.text-muted Branding
        //-             .col-lg-4.col-sm-6.mb-4.mb-sm-0
        //-                 .portfolio-item
        //-                     a.portfolio-link(data-toggle='modal', href='#portfolioModal5')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/05-thumbnail.jpg', alt='')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Southwest
        //-                         .portfolio-caption-subheading.text-muted Website Design
        //-             .col-lg-4.col-sm-6
        //-                 .portfolio-item
        //-                     a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/06-thumbnail.jpg', alt='')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Window
        //-                         .portfolio-caption-subheading.text-muted Photography

        //- // Signup
        //- section#signup.signup-section
        //-     .container
        //-         .row
        //-             .col-md-10.col-lg-8.mx-auto.text-center
        //-                 i.far.fa-paper-plane.fa-2x.mb-2.text-white
        //-                 h2.text-white.mb-5 Subscribe to receive updates!
        //-                 form.form-inline.d-flex
        //-                     input#inputEmail.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='email', placeholder='Enter email address...')
        //-                     button.btn.btn-primary.mx-auto(type='submit') Subscribe

        // Contact
        section.contact-section.bg-black
            .container
                .row
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fab.fa-github.text-primary.mb-2
                                h4.text-uppercase.m-0 Github
                                hr.my-4
                                .small.text-black-50
                                    a(href='https://github.com/shreyaa-sharmaa') shreyaa-sharmaa
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-envelope.text-primary.mb-2
                                h4.text-uppercase.m-0 Email
                                hr.my-4
                                .small.text-black-50
                                    a(href='#!') shreyasharma.ss305@gmail.com
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fa.fa-file.text-primary.mb-2
                                h4.text-uppercase.m-0 Resume
                                hr.my-4
                                .small.text-black-50
                                    a(href='assets/docs/resume.pdf') Resume
                .social.d-flex.justify-content-center
                    a.mx-2(href='#!')
                        i.fab.fa-twitter
                    a.mx-2(href='#!')
                        i.fab.fa-facebook-f
                    a.mx-2(href='#!')
                        i.fab.fa-linkedin

        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container
                | Shreya Sharma

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js')

        // Core theme JS
        script(src='js/scripts.js')
