doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title Shreyaa Sharma

        link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css' rel='stylesheet')

    body#page-top
    .cont

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') cypherean
                button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#home') Home
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') About
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#projects') Projects
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#timeline') Timeline
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contact

        // Masthead
        header.masthead#home
            .container.d-flex.h-100.align-items-center
                .px-md-5
                    h1.text-white.mx-auto Hey,
                    h1.mx-auto I'm Shreyaa.
                    h2.text-white-50.mt-2.mb-5 Welcome to my Portfolio.
                    // Social Tab 
                    .container.social-tab
                        a.mx-2(href='https://github.com/cypherean')  
                            i.fab.fa-github.fa-2x.text-primary.mb-2
                        a.mx-2(href='mailto:cypherean@gmail.com') 
                            i.fas.fa-envelope.fa-2x.text-primary.mb-2
                        a.mx-2(href='https://www.linkedin.com/in/shreyaa-sharma/') 
                            i.fab.fa-linkedin.fa-2x.text-primary.mb-2
                        a.mx-2(href='https://twitter.com/cypherean')
                            i.fab.fa-twitter.fa-2x.text-primary.mb-2
                        a.mx-2(href='https://gitter.im/shreyaa-sharmaa')
                            i.fab.fa-gitter.fa-2x
                        a.mx-2(href='assets/docs/resume.pdf')
                            i.fas.fa-file.fa-2x

        // About
        section#about.about-section.text-center.bg-light
            // Featured Project Row
            .row.align-items-center.no-gutters.mb-4.mb-lg-5
                .col-xl-6.col-lg-5
                    img.about-me-pic.img-fluid.mb-3.mb-lg-0(src='assets/img/cypher1.jpeg' alt='...')
                .col-xl-5.col-lg-6
                    .featured-text.text-center.text-lg-left
                        h2 About Me
                        br
                        p.text-black-50.mb-0
                            | Hey, I'm Shreyaa! 
                        br
                        p.mb-0.text-black-50
                            | I've been in love with coding ever since I discovered what a few lines of code could do.
                            | I learnt about HTML, CSS and C++ in school and have been exploring the coding world ever 
                            | since I stepped foot in College. 
                        br
                        p.mb-0.text-black-50
                            | Fueled by high energy levels and boundless enthusiasm, I’m easily inspired and more then willing to follow
                            | my fascinations wherever they take me. I’m passionate, expressive, multi-talented spirit with a natural 
                            | ability to entertain and inspire. I’m never satisfied to just come up with ideas. Instead I have an almost 
                            | impulsive need to act on them.
                        br
                        p.mb-0.text-black-50
                            | I prefer to keep learning, continue challenging myself, and do interesting things that matter.
                            | I’m a fast learner, able to pick up new skills and juggle different projects and 
                            | roles with relative ease. 
                        br
                        p.mb-0.text-black-50
                            | When not coding, you'll find me surfing the internet for Tech Blogs or neck deep in a thriller fiction. 
                            | I often indulge in baking and trying my hand out at competitive programming.
                        hr.d-none.d-lg-block.mb-0.ml-0
        //- // Carousel
        //- .container.align-items-center
        //- #carouselProjects.carousel.slide(data-ride='carousel')
        //-     .carousel-inner(role="listbox").align-items-center
        //-         .carousel-item.active
        //-             .row.align-items-center.no-gutters.mb-4.mb-lg-5
        //-                     .info-card.text-center.text-lg-left
        //-                         .project-text.w-100.my-auto.text-center.text-lg-left
        //-                             h3.text-black
        //-                                 .vl
        //-                                     .head
        //-                                         a(href='https://github.com/shreyaa-sharmaa/ikai') Ikai
        //-                             h5.text-white File Scanning, Editing and Sharing App
        //-                             h5.text-white
        //-                                 b  | React-native, Django
        //-                             p.mb-0.text-white-50
        //-                                 | • Ikai can scan, edit multimedia, share in both online and offline
        //-                                 | mode and has the chat feature to facilitate smooth remote collaboration.
        //-                                 br
        //-                                 | • Implemented offline file sharing using TCP and rn-fetch-blob.
        //-                             hr.d-none.d-lg-block.mb-0.ml-0
        //-         .carousel-item
        //-             img.d-block.w-70(src='assets/img/portfolio/thumbnails/2.jpg' alt='Second slide')

        //-     a.carousel-control-prev(href='#carouselProjects' role='button' data-slide='prev')
        //-         span.glyphicon.carousel-control-prev-icon(aria-hidden="true")
        //-         span.sr-only Previous
        //-     a.carousel-control-next(href='#carouselProjects' role='button' data-slide='next')
        //-         span.glyphicon.carousel-control-next-icon(aria-hidden='true')
        //-         span.sr-only Next

                //- // Portfolio
                //- div#portfolio
                //-     .container-fluid.p-0
                //-         .row.no-gutters
                //-             .col-lg-4.col-sm-6
                //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/1.jpg')
                //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/1.jpg' alt='...')
                //-                     .portfolio-box-caption
                //-                         .project-category.text-white-50
                //-                             | Category
                //-                         .project-name
                //-                             | Project Name
                //-             .col-lg-4.col-sm-6
                //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/2.jpg')
                //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/2.jpg' alt='...')
                //-                     .portfolio-box-caption
                //-                         .project-category.text-white-50
                //-                             | Category
                //-                         .project-name
                //-                             | Project Name
                //-             .col-lg-4.col-sm-6
                //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/3.jpg')
                //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/3.jpg' alt='...')
                //-                     .portfolio-box-caption
                //-                         .project-category.text-white-50
                //-                             | Category
                //-                         .project-name
                //-                             | Project Name
                //-             .col-lg-4.col-sm-6
                //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/4.jpg')
                //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/4.jpg' alt='...')
                //-                     .portfolio-box-caption
                //-                         .project-category.text-white-50
                //-                             | Category
                //-                         .project-name
                //-                             | Project Name
                //-             .col-lg-4.col-sm-6
                //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/5.jpg')
                //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/5.jpg' alt='...')
                //-                     .portfolio-box-caption
                //-                         .project-category.text-white-50
                //-                             | Category
                //-                         .project-name
                //-                             | Project Name
                //-             .col-lg-4.col-sm-6
                //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/6.jpg')
                //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/6.jpg' alt='...')
                //-                     .portfolio-box-caption.p-3
                //-                         .project-category.text-white-50
                //-                             | Category
                //-                         .project-name
                //-                             | Project Name

        //- // Portfolio Grid
        //- section#portfolio.page-section.bg-light
        //-     .container
        //-         .text-center
        //-             h2.section-heading.text-uppercase.text-white Projects
        //-             //- h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        //-         .row
        //-             .col-lg-8.col-sm-6.mb-4
        //-                 .portfolio-item.item-1
        //-                     a.portfolio-link(data-toggle='modal' href='#portfolioModal1')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/01-thumbnail.jpg' alt='...')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Ikai
        //-                         .portfolio-caption-subheading.text-muted File Scanning, Editing and Sharing App
        //-             .col-lg-4.col-sm-6.mb-4
        //-                 .portfolio-item.item-2
        //-                     a.portfolio-link(data-toggle='modal' href='#portfolioModal2')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/02-thumbnail.jpg' alt='...')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Pinger
        //-                         .portfolio-caption-subheading.text-muted Uptime and Status Monitoring App
        //-             .col-lg-8.col-sm-6.mb-4
        //-                 .portfolio-item.item-3
        //-                     a.portfolio-link(data-toggle='modal' href='#portfolioModal3')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/03-thumbnail.jpg' alt='...')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading CricLive
        //-                         .portfolio-caption-subheading.text-muted Realtime Cricket Match Generator
        //-             .col-lg-4.col-sm-6.mb-4.mb-lg-0
        //-                 .portfolio-item.item-4
        //-                     a.portfolio-link(data-toggle='modal' href='#portfolioModal4')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/04-thumbnail.jpg' alt='...')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Kiwi
        //-                         .portfolio-caption-subheading.text-muted Key Value Store
        //-             .col-lg-4.col-sm-6.mb-4.mb-sm-0
        //-                 .portfolio-item.item-5
        //-                     a.portfolio-link(data-toggle='modal' href='#portfolioModal5')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/05-thumbnail.jpg' alt='...')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Rassasy
        //-                         .portfolio-caption-subheading.text-muted Canteen Pre-ordering App
        //-             .col-lg-4.col-sm-6
        //-                 .portfolio-item.item-6
        //-                     a.portfolio-link(data-toggle='modal' href='#portfolioModal6')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/06-thumbnail.jpg' alt='...')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Cerebro
        //-                         .portfolio-caption-subheading.text-muted Machine Learning Competitions' Platform

        // Projects
        section#projects.projects-section
            .container
                .col.justify-content-center.bg-light.proj
                    h2.text-black Projects 
                        hr.mb-0.ml-15
                    // Project One Row
                    .row.justify-content-center
                        .col-lg-12
                            .bg-white.text-center.project
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h3.text-black
                                        .vl
                                            .head
                                                a(href='https://github.com/shreyaa-sharmaa/ikai') Ikai
                                    h5.text-black File Scanning, Editing and Sharing App
                                    h5.text-black
                                        b  | React-native, Django
                                    p.mb-0.text-black-50
                                        | • Ikai can scan, edit multimedia, share in both online and offline
                                        | mode and has the chat feature to facilitate smooth remote collaboration.
                                        br
                                        | • Implemented offline file sharing using TCP and rn-fetch-blob.
                                    hr.d-none.d-lg-block.mb-0.ml-0
                        .col-lg-12
                            .bg-white.text-center.project
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h3.text-black
                                        a(href='https://github.com/sdslabs/pinger') Pinger
                                    h5.text-black Open Source Status Page
                                    h5.text-black
                                        b  | Go
                                    p.mb-0.text-black-50
                                        | • Pinger is an uptime and status monitoring application written in Go.
                                        br
                                        | • Developed the alert system to send notifications on slack,
                                        | discord and mail when status of a test changes.
                                    hr.d-none.d-lg-block.mb-0.ml-0
                        .col-lg-12
                            .bg-white.text-center.project
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h3.text-black
                                        a(href='https://github.com/shreyaa-sharmaa/rassasy') Rassasy
                                    h5.text-black Canteen Pre-ordering System
                                    h5.text-black
                                        b  | HTML, CSS, Javascript, PHP, SQL
                                    p.mb-0.text-black-50
                                        | • Spearheaded the development of a pre-ordering system in campus canteens for Winter of Code 2019.
                                        br
                                        | • Students order in advance and the canteen manager updates their order
                                        | statuses. The order and order status are dynamically rendered.
                                    hr.d-none.d-lg-block.mb-0.ml-0
                        .col-lg-12
                            .bg-white.text-center.project
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h3.text-black
                                        a(href='https://github.com/sdslabs/kiwi') Kiwi
                                    h5.text-black Key-Value Store
                                    h5.text-black
                                        b  | Go
                                    p.mb-0.text-black-50
                                        | • Kiwi is a minimalistic in-memory key-value store written in Go.
                                        br
                                        | • Implemented function to add JSON support for storing the values in JSON
                                        | format and using them in GoLang format from a stored file.
                                    hr.d-none.d-lg-block.mb-0.ml-0
                        .col-lg-12
                            .bg-white.text-center.project
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                        h3.text-primary Cerebro
                                        h5.text-black Machine Learning Competitions' Platform
                                        h5.text-black
                                            b  | React
                                        p.mb-0.text-black-50
                                            | • Cerebro is a platform for predictive modeling and analytics competitions
                                            | for the campus.
                                            br
                                            | • Implemented lazy loading in the website using React.  
                                        hr.d-none.d-lg-block.mb-0.ml-0
                        .col-lg-12
                            .bg-white.text-center.project
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                        h3.text-black
                                            a(href='https://github.com/shreyaa-sharmaa/kill-zee') Kill-Zee
                                        h5.text-black 2D Repair Game
                                        h5.text-black
                                            b  | Lua, Love2D
                                        p.mb-0.text-black-50
                                            | • The theme of the game is: The player saves the tower from zombies while giving
                                            | the tower the time to repair itself.
                                            br
                                            | • Restricted the player’s accessible boundaries, creating main menu of the game, and
                                            | adding image to the player sprite.
                                        hr.d-none.d-lg-block.mb-0.ml-0


        // Timeline
        section.ps-timeline-sec
            .container
                ol.ps-timeline
                    li
                        .img-handler-top
                            img(src='http://www.physology.co.uk/wp-content/uploads/2016/02/ps-elem_03.png' alt='')
                        .ps-bot
                            p Do you have a recent injury or long term pain?
                        span.ps-sp-top 01
                    li
                        .img-handler-bot
                            img(src='http://www.physology.co.uk/wp-content/uploads/2016/02/ps-elem_13.png' alt='')
                        .ps-top
                            p
                                | Have you tried Physiotherapy, Chiropractor or your GP without the pain free results?
                        span.ps-sp-bot 02
                    li
                        .img-handler-top
                            img(src='http://www.physology.co.uk/wp-content/uploads/2016/02/ps-elem_05.png' alt='')
                        .ps-bot
                            p
                                | Let Physology assess and treat your pain with our trusted revolusionary approach.
                        span.ps-sp-top 03
                    li
                        .img-handler-bot
                            img(src='http://www.physology.co.uk/wp-content/uploads/2016/02/ps-elem_10.png' alt='')
                        .ps-top
                            p Join our happy family of pain free clients.
                        span.ps-sp-bot 04

        // Contact
        section#contact.contact-section.bg-black
            .container
                .row
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fab.fa-github.text-primary.mb-2
                                h4.text-uppercase.m-0 Github
                                hr.my-4
                                .small.text-black-50
                                    a(href='https://github.com/cypherean') cypherean
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-envelope.text-primary.mb-2
                                h4.text-uppercase.m-0 Email
                                hr.my-4
                                .small.text-black-50
                                    a(href='#!') cypherean@gmail.com
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-file.text-primary.mb-2
                                h4.text-uppercase.m-0 Resume
                                hr.my-4
                                .small.text-black-50
                                    a(href='assets/docs/resume.pdf') Resume
                .social.d-flex.justify-content-center
                    a.mx-2(href='https://gitter.im/shreyaa-sharmaa')
                        i.fab.fa-gitter
                    a.mx-2(href='https://www.linkedin.com/in/cypherean/')
                        i.fab.fa-linkedin
                    a.mx-2(href='https://www.linkedin.com/in/cypherean/')
                        i.fab.fa-twitter

    // Footer
    footer.footer.bg-black.small.text-center.text-white-50
        .container
            | Shreyaa Sharma
    // Portfolio Modals
    // Modal 1
    #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
            .modal-content
                .close-modal(data-dismiss='modal')
                    img(src='assets/img/close-icon.svg' alt='Close modal')
                .container
                    .row.justify-content-center
                        .col-lg-8
                            .modal-body
                                // Project Details Go Here
                                h2.text-uppercase Project Name
                                p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/01-full.jpg' alt='...')
                                p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                ul.list-inline
                                    li Date: January 2021
                                    li Client: Threads
                                    li Category: Illustration
                                button.btn.btn-primary(data-dismiss='modal' type='button')
                                    i.fas.fa-times.mr-1
                                    | Close Project
    // Modal 2
    #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
            .modal-content
                .close-modal(data-dismiss='modal')
                    img(src='assets/img/close-icon.svg' alt='Close modal')
                .container
                    .row.justify-content-center
                        .col-lg-8
                            .modal-body
                                // Project Details Go Here
                                h2.text-uppercase Project Name
                                p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/02-full.jpg' alt='...')
                                p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                ul.list-inline
                                    li Date: January 2021
                                    li Client: Explore
                                    li Category: Graphic Design
                                button.btn.btn-primary(data-dismiss='modal' type='button')
                                    i.fas.fa-times.mr-1
                                    | Close Project
    // Modal 3
    #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
            .modal-content
                .close-modal(data-dismiss='modal')
                    img(src='assets/img/close-icon.svg' alt='Close modal')
                .container
                    .row.justify-content-center
                        .col-lg-8
                            .modal-body
                                // Project Details Go Here
                                h2.text-uppercase Project Name
                                p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/03-full.jpg' alt='...')
                                p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                ul.list-inline
                                    li Date: January 2021
                                    li Client: Finish
                                    li Category: Identity
                                button.btn.btn-primary(data-dismiss='modal' type='button')
                                    i.fas.fa-times.mr-1
                                    | Close Project
    // Modal 4
    #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
            .modal-content
                .close-modal(data-dismiss='modal')
                    img(src='assets/img/close-icon.svg' alt='Close modal')
                .container
                    .row.justify-content-center
                        .col-lg-8
                            .modal-body
                                // Project Details Go Here
                                h2.text-uppercase Project Name
                                p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/04-full.jpg' alt='...')
                                p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                ul.list-inline
                                    li Date: January 2021
                                    li Client: Lines
                                    li Category: Branding
                                button.btn.btn-primary(data-dismiss='modal' type='button')
                                    i.fas.fa-times.mr-1
                                    | Close Project
    // Modal 5
    #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
            .modal-content
                .close-modal(data-dismiss='modal')
                    img(src='assets/img/close-icon.svg' alt='Close modal')
                .container
                    .row.justify-content-center
                        .col-lg-8
                            .modal-body
                                // Project Details Go Here
                                h2.text-uppercase Project Name
                                p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/05-full.jpg' alt='...')
                                p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                ul.list-inline
                                    li Date: January 2021
                                    li Client: Southwest
                                    li Category: Website Design
                                button.btn.btn-primary(data-dismiss='modal' type='button')
                                    i.fas.fa-times.mr-1
                                    | Close Project
    // Modal 6
    #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
            .modal-content
                .close-modal(data-dismiss='modal')
                    img(src='assets/img/close-icon.svg' alt='Close modal')
                .container
                    .row.justify-content-center
                        .col-lg-8
                            .modal-body
                                // Project Details Go Here
                                h2.text-uppercase Project Name
                                p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/06-full.jpg' alt='...')
                                p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                ul.list-inline
                                    li Date: January 2021
                                    li Client: Window
                                    li Category: Photography
                                button.btn.btn-primary(data-dismiss='modal' type='button')
                                    i.fas.fa-times.mr-1
                                    | Close Project

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
        
