doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title Shreyaa Sharma

        link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css' rel='stylesheet')

    body#page-top
    .cont

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') cypherean
                button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        //- li.nav-item
                        //-     a.nav-link.js-scroll-trigger(href='#about') About
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#projects') Projects
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#experience') Experience
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#timeline') Achievements
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contact

        //- // Masthead
        //- div.mastheadwrapper
        //-     header.masthead
        //-         .container.d-flex.h-100.align-items-center
        //-             .px-md-5
        //-                 h1.text-white.mx-auto Hey,
        //-                 h1.mx-auto I'm Shreyaa.
        //-                 //- h2.text-white-50.mt-2.mb-5 Welcome to my Portfolio.
        //-                 // Social Tab 
        //-                 .container.social-tab
        //-                     a.mx-2(href='https://github.com/cypherean')
        //-                         i.fab.fa-github.fa-2x
        //-                     a.mx-2(href='mailto:cypherean@gmail.com') 
        //-                         i.fas.fa-envelope.fa-2x.
        //-                     a.mx-2(href='https://www.linkedin.com/in/shreyaa-sharma/') 
        //-                         i.fab.fa-linkedin.fa-2x
        //-                     a.mx-2(href='https://twitter.com/cypherean')
        //-                         i.fab.fa-twitter.fa-2x
        //-                     a.mx-2(href='https://gitter.im/shreyaa-sharmaa')
        //-                         i.fab.fa-gitter.fa-2x
        //-                     a.mx-2(href='assets/docs/resume.pdf')
        //-                         i.fas.fa-file.fa-2x

        // About
        header#about.about-section.text-center.bg-light
            .container
                // Featured Project Row
                .row.align-items-center.no-gutters.mb-4.mb-lg-5
                    .col-xl-7.col-lg-5
                        .featured-text.text-center.text-lg-left
                            h1 Hey, I'm Shreyaa!
                            br
                            //- p.text-black-50.mb-0
                            //-     | Hey, I'm Shreyaa! 
                            //- br
                            h5.mb-0.text-black-50
                                | I've been in love with coding ever since I discovered what a few lines of code could do.
                                | I learnt about HTML, CSS and C++ in school and have been exploring the coding world ever 
                                | since I stepped foot in College. 
                            //- br
                            //- p.mb-0.text-black-50
                            //-     | Fueled by high energy levels and boundless enthusiasm, I’m easily inspired and more then willing to follow
                            //-     | my fascinations wherever they take me. I’m passionate, expressive, multi-talented spirit with a natural 
                            //-     | ability to entertain and inspire. I’m never satisfied to just come up with ideas. Instead I have an almost 
                            //-     | impulsive need to act on them.
                            //- br
                            //- p.mb-0.text-black-50
                            //-     | I prefer to keep learning, continue challenging myself, and do interesting things that matter.
                            //-     | I’m a fast learner, able to pick up new skills and juggle different projects and 
                            //-     | roles with relative ease. 
                            br
                            h5.mb-0.text-black-50
                                | When not coding, you'll find me surfing the internet for Tech Blogs or neck deep in a thriller fiction. 
                                | I often indulge in baking and trying my hand out at competitive programming.
                            hr.d-none.d-lg-block.mb-0.ml-0
                            .row.bar.align-items-center.no-gutters.mb-4.mb-lg-5.d-flex.justify-content-between
                                .social.d-flex.flex-row
                                    a.mx-2(href='https://github.com/cypherean') 
                                        i.fab.fa-github.fa-lg
                                    a.mx-2(href='mailto:cypherean@gmail.com')
                                        i.fas.fa-envelope.fa-lg
                                    a.mx-2(href='https://www.linkedin.com/in/cypherean/')
                                        i.fab.fa-linkedin.fa-lg
                                    a.mx-2(href='https://twitter.com/cypherean')
                                        i.fab.fa-twitter.fa-lg
                                    //- a.mx-2(href='assets/docs/resume.pdf')
                                        i.fas.fa-file.fa-lg
                                .resume-button
                                    a(href='assets/docs/shreyaa_sharma_resume.pdf')
                                        button.gray-btn Resume
                            
                    .col-xl-5.col-lg-5.float-xl-right
                        img.about-me-pic.img-fluid(src='assets/img/cypher1.jpeg' alt='...')
        //- // Carousel
        //- .container.align-items-center
        //- #carouselProjects.carousel.slide(data-ride='carousel')
        //-     .carousel-inner(role="listbox").align-items-center
        //-         .carousel-item.active
        //-             .row.align-items-center.no-gutters.mb-4.mb-lg-5
        //-                     .info-card.text-center.text-lg-left
        //-                         .project-text.w-100.my-auto.text-center.text-lg-left
        //-                             h3.text-black
        //-                                 .vl
        //-                                     .head
        //-                                         a(href='https://github.com/shreyaa-sharmaa/ikai') Ikai
        //-                             h5.text-white File Scanning, Editing and Sharing App
        //-                             h5.text-white
        //-                                 b  | React-native, Django
        //-                             p.mb-0.text-white-50
        //-                                 | • Ikai can scan, edit multimedia, share in both online and offline
        //-                                 | mode and has the chat feature to facilitate smooth remote collaboration.
        //-                                 br
        //-                                 | • Implemented offline file sharing using TCP and rn-fetch-blob.
        //-                             hr.d-none.d-lg-block.mb-0.ml-0
        //-         .carousel-item
        //-             img.d-block.w-70(src='assets/img/portfolio/thumbnails/2.jpg' alt='Second slide')

        //-     a.carousel-control-prev(href='#carouselProjects' role='button' data-slide='prev')
        //-         span.glyphicon.carousel-control-prev-icon(aria-hidden="true")
        //-         span.sr-only Previous
        //-     a.carousel-control-next(href='#carouselProjects' role='button' data-slide='next')
        //-         span.glyphicon.carousel-control-next-icon(aria-hidden='true')
        //-         span.sr-only Next

            //- // Portfolio
            //- div#portfolio
            //-     .container-fluid.p-0
            //-         .row.no-gutters
            //-             .col-lg-4.col-sm-6
            //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/1.jpg')
            //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/1.jpg' alt='...')
            //-                     .portfolio-box-caption
            //-                         .project-category.text-white-50
            //-                             | Category
            //-                         .project-name
            //-                             | Project Name
            //-             .col-lg-4.col-sm-6
            //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/2.jpg')
            //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/2.jpg' alt='...')
            //-                     .portfolio-box-caption
            //-                         .project-category.text-white-50
            //-                             | Category
            //-                         .project-name
            //-                             | Project Name
            //-             .col-lg-4.col-sm-6
            //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/3.jpg')
            //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/3.jpg' alt='...')
            //-                     .portfolio-box-caption
            //-                         .project-category.text-white-50
            //-                             | Category
            //-                         .project-name
            //-                             | Project Name
            //-             .col-lg-4.col-sm-6
            //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/4.jpg')
            //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/4.jpg' alt='...')
            //-                     .portfolio-box-caption
            //-                         .project-category.text-white-50
            //-                             | Category
            //-                         .project-name
            //-                             | Project Name
            //-             .col-lg-4.col-sm-6
            //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/5.jpg')
            //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/5.jpg' alt='...')
            //-                     .portfolio-box-caption
            //-                         .project-category.text-white-50
            //-                             | Category
            //-                         .project-name
            //-                             | Project Name
            //-             .col-lg-4.col-sm-6
            //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/6.jpg')
            //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/6.jpg' alt='...')
            //-                     .portfolio-box-caption.p-3
            //-                         .project-category.text-white-50
            //-                             | Category
            //-                         .project-name
            //-                             | Project Name

        //- // Portfolio Grid
        //- section#portfolio.page-section.bg-light
        //-     .container
        //-         .text-center
        //-             h2.section-heading.text-uppercase.text-white Projects
        //-             //- h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        //-         .row
        //-             .col-lg-8.col-sm-6.mb-4
        //-                 .portfolio-item.item-1
        //-                     a.portfolio-link(data-toggle='modal' href='#portfolioModal1')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/01-thumbnail.jpg' alt='...')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Ikai
        //-                         .portfolio-caption-subheading.text-muted File Scanning, Editing and Sharing App
        //-             .col-lg-4.col-sm-6.mb-4
        //-                 .portfolio-item.item-2
        //-                     a.portfolio-link(data-toggle='modal' href='#portfolioModal2')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/02-thumbnail.jpg' alt='...')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Pinger
        //-                         .portfolio-caption-subheading.text-muted Uptime and Status Monitoring App
        //-             .col-lg-8.col-sm-6.mb-4
        //-                 .portfolio-item.item-3
        //-                     a.portfolio-link(data-toggle='modal' href='#portfolioModal3')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/03-thumbnail.jpg' alt='...')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading CricLive
        //-                         .portfolio-caption-subheading.text-muted Realtime Cricket Match Generator
        //-             .col-lg-4.col-sm-6.mb-4.mb-lg-0
        //-                 .portfolio-item.item-4
        //-                     a.portfolio-link(data-toggle='modal' href='#portfolioModal4')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/04-thumbnail.jpg' alt='...')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Kiwi
        //-                         .portfolio-caption-subheading.text-muted Key Value Store
        //-             .col-lg-4.col-sm-6.mb-4.mb-sm-0
        //-                 .portfolio-item.item-5
        //-                     a.portfolio-link(data-toggle='modal' href='#portfolioModal5')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/05-thumbnail.jpg' alt='...')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Rassasy
        //-                         .portfolio-caption-subheading.text-muted Canteen Pre-ordering App
        //-             .col-lg-4.col-sm-6
        //-                 .portfolio-item.item-6
        //-                     a.portfolio-link(data-toggle='modal' href='#portfolioModal6')
        //-                         .portfolio-hover
        //-                             .portfolio-hover-content
        //-                                 i.fas.fa-plus.fa-3x
        //-                         img.img-fluid(src='assets/img/portfolio/06-thumbnail.jpg' alt='...')
        //-                     .portfolio-caption
        //-                         .portfolio-caption-heading Cerebro
        //-                         .portfolio-caption-subheading.text-muted Machine Learning Competitions' Platform

        // Projects
        section#projects.projects-section.bg-light
            .container
                .col.justify-content-center.proj
                    h1.text-black Projects 
                        hr.mb-0.ml-15
                    // Project One Row
                    .row.justify-content-center
                        .col-lg-12
                            .bg-white.text-center.project
                                .project-text.w-100.my-auto.text-lg-left
                                    h2.text-primary
                                        b CricLive
                                    h4.text-black 
                                        b Realtime Cricket Match Generator
                                    h5.text-black
                                        | Unity3D, Blender
                                    h5.mb-0.text-black-50
                                        | The cross platform app takes cricket text-commentary as input and generates live streaming of Cricket Match. 
                                        br
                                        br
                                        | The app was developed for Inout7.0 hackathon and bagged second position.
                                    hr.d-none.d-lg-block.mb-0.ml-0
                                    .project-link
                                        a(href='https://github.com/cypherean/CricLive')
                                            i.fab.fa-github.fa-lg
                                        a(href='https://devfolio.co/submissions/criclive')
                                            img.icon(src='assets/img/de.svg')
                                        //- a.portfolio-link(data-toggle='modal' href='#portfolioModal3')
                                        //-     | Read more
                                        //-     i.fas.fa-angle-right.fa-lg
                                img.d-block.app-img(src='assets/img/portfolio/criclive.png' alt='CricLive')
                        .col-lg-12
                            .bg-white.text-center.project
                                .project-text.w-100.my-auto.text-lg-left
                                    h2.text-primary
                                        b Ikai
                                    h4.text-black 
                                        b File Scanning, Editing and Sharing App 
                                    h5.text-black
                                        | React-native, Django
                                    h5.mb-0.text-black-50
                                        | Ikai can scan, edit multimedia, share in both online and offline
                                        | mode and has the chat feature to facilitate smooth remote collaboration.
                                        //- p.mb-0.text-black-50
                                        //-     | • Ikai can scan, edit multimedia, share in both online and offline
                                        //-     | mode and has the chat feature to facilitate smooth remote collaboration.
                                        br
                                        br
                                        | The app was developed for HAB59 hackathon and bagged the first prize in Office Productivity Category.
                                    hr.d-none.d-lg-block.mb-0.ml-0
                                    .project-link
                                        a(href='https://github.com/cypherean/ikai')
                                            i.fab.fa-github.fa-lg
                                        a(href='https://devfolio.co/submissions/ikai')
                                            img.icon(src='assets/img/de.svg')
                                        //- a.portfolio-link(data-toggle='modal' href='#portfolioModal3')
                                        //-     | Read more
                                        //-     i.fas.fa-angle-right.fa-lg
                                img.d-block.app-img(src='assets/img/portfolio/ikai.png' alt='Ikai')
                        .col-lg-12
                            .bg-white.text-center.project
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h2.text-primary
                                        b Pinger
                                    h4.text-black 
                                        b Open Source Status Page
                                    h5.text-black
                                        | Go
                                    h5.mb-0.text-black-50
                                        | Pinger is an uptime and status monitoring app with pluggable probes, storage backends and alerts. 
                                        br
                                        br
                                        | I developed the alert system to send notifications on slack, 
                                        | discord and mail when status of a test changes.
                                    hr.d-none.d-lg-block.mb-0.ml-0
                                    .project-link
                                        a.mx-2(href='https://github.com/sdslabs/pinger')
                                            i.fab.fa-github.fa-lg
                                        a(href='https://status.sdslabs.co/')
                                            | Open App
                                            i.fas.fa-angle-right.fa-lg
                                img.d-block.app-img(src='assets/img/portfolio/pinger.png' alt='Pinger')
                        .col-lg-12
                            .bg-white.text-center.project
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h2.text-primary
                                        b Cerebro
                                    h4.text-black 
                                        b Machine Learning Competitions' Platform
                                    h5.text-black
                                        | React
                                    h5.mb-0.text-black-50
                                        | Cerebro is a platform for predictive modeling and analytics competitions.
                                        br
                                        br
                                        | I worked on the React based UI to implement lazy loading in the website and optimise load time. 
                                    hr.d-none.d-lg-block.mb-0.ml-0
                                    .project-link
                                        a(href='https://cerebro.sdslabs.co/')
                                            | Open App
                                            i.fas.fa-angle-right.fa-lg
                                img.d-block.app-img(src='assets/img/portfolio/cerebro.png' alt='Cerebro')
                        .col-lg-12
                            .bg-white.text-center.project
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h2.text-primary
                                        b Kiwi
                                    h4.text-black 
                                        b Key-Value Store
                                    h5.text-black
                                        | Go
                                    h5.mb-0.text-black-50
                                        | Kiwi is a minimalistic in-memory key-value store written in Go.
                                        br
                                        | I implemented function to add JSON support for storing the values in JSON
                                        | format and using them in GoLang format from a stored file.
                                    hr.d-none.d-lg-block.mb-0.ml-0
                                    .project-link
                                        a.mx-2(href='https://github.com/sdslabs/kiwi')
                                            i.fab.fa-github.fa-lg
                                //- img.d-block.app-img(src='assets/img/portfolio/kiwi.jpg' alt='Kiwi')
                        .col-lg-12
                            .bg-white.text-center.project
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h2.text-primary
                                        b Rassasy
                                    h4.text-black 
                                        b Canteen Pre-ordering System
                                    h5.text-black
                                        | HTML, CSS, Javascript, PHP, SQL
                                    h5.mb-0.text-black-50
                                        | I spearheaded the development of a pre-ordering system in campus canteens for Winter of Code 2019.
                                        br
                                        | Students order in advance and the canteen manager updates their order
                                        | statuses. The order and order status are dynamically rendered.
                                    hr.d-none.d-lg-block.mb-0.ml-0
                                    .project-link
                                        a.mx-2(href='https://github.com/cypherean/rassasy')
                                            i.fab.fa-github.fa-lg
                        //- .col-lg-12
                        //-     .bg-white.text-center.project
                        //-         .project-text.w-100.my-auto.text-center.text-lg-left
                        //-             h2.text-primary
                        //-                 b Kill-Zee
                        //-             h4.text-black 
                        //-                 b 2D Repair Game
                        //-             h5.text-black
                        //-                 | Lua, Love2D
                        //-             p.mb-0.text-black-50
                        //-                 | • The theme of the game is: The player saves the tower from zombies while giving
                        //-                 | the tower the time to repair itself.
                        //-                 br
                        //-                 | • Restricted the player’s accessible boundaries, creating main menu of the game, and
                        //-                 | adding image to the player sprite.
                        //-             hr.d-none.d-lg-block.mb-0.ml-0
        
        
        // Experience
        section#experience.projects-section.bg-black
            .container
                .col.justify-content-center.proj
                    h1.text-white Experience 
                        //- hr.mb-0.ml-15
                    // Project One Row
                    .row.justify-content-center
                        .col-lg-12
                            .text-center.ex
                                .ex-text.w-100.my-auto.text-lg-left.bg-white
                                    h2.text-primary
                                        b SDSLabs
                                    .row.d-flex.justify-content-between
                                        .col
                                            h4.text-black 
                                                b Member
                                        .col
                                            h5.text-black.text-right
                                                | Jan 2020-Present
                                    h5.mb-0.text-black-50.ex-descrip
                                        | SDSLabs fosters technical activities in the campus. As part of the group, we develop
                                        | software to be used by general public, organize lectures, competitions and hackathons.
                                        div#labs.collapse
                                                | Under the hood of the group, I've worked on:
                                                ol 
                                                    li 
                                                        b Pinger: 
                                                        | An open source uptime and status monitoring app with pluggable probes, storage backends 
                                                        | and alerts. I developed the alert system for this project which sends alerts on slack, mail
                                                        | and discord when the status of a test changes.
                                                    li
                                                        b Kiwi:
                                                        | In memory key-value store written in Go. I worked on adding JSON compatibility to the 
                                                        | project by adding the option to store data in JSON and use it from a JSON file in the
                                                        | application.
                                    //- br
                                    button.btn-expand(data-toggle="collapse" data-target="#labs")
                                        | Read More...
                                    hr.d-none.d-lg-block.mb-0.ml-0
                                    .project-link
                                        a.mx-2(href='https://github.com/sdslabs')
                                            i.fab.fa-github.fa-lg
                                        a.mx-2(href='https://www.facebook.com/SDSLabs')
                                            i.fab.fa-facebook.fa-lg
                                        a.mx-2(href='https://twitter.com/sdslabs')
                                            i.fab.fa-twitter.fa-lg
                                        a.mx-2(href='https://sdslabs.co/')
                                            i.fas.fa-globe.fa-lg
                        .col-lg-12
                            .text-center.ex
                                .ex-text.w-100.my-auto.text-lg-left.bg-white
                                    h2.text-primary
                                        b Public Lab
                                    .row.d-flex.justify-content-between
                                        .col
                                            h4.text-black 
                                                b Outreachy Intern
                                        .col
                                            h5.text-black.text-right
                                                | May-August 2020
                                    h5.mb-0.text-black-50.ex-descrip
                                        | I worked on revamping
                                        | and relaunching many parts of the Public Lab Website, in particular, the WYSIWYG
                                        | Editor and improving scalability, ease of contribution and maintenance of the projects.
                                        div#pl.collapse
                                            br
                                            | I successfully completed two major tasks and coordinated the succeeding release notes:
                                            br
                                            ol 
                                                li Integrating E2E test suite in the Editor project using Jest-Puppeteer.
                                                li Decoupling several nested libraries that had compatibility issues in the Woofmark library.
                                    //- button.btn.btn-primary(data-dismiss='modal' type='button')
                                    //-     i.fas.fa-times.mr-1
                                    //-     | Close Project
                                    button.btn-expand(data-toggle="collapse" data-target="#pl")
                                        | Read More...
                                    hr.d-none.d-lg-block.mb-0.ml-0
                                    .project-link
                                        a.mx-2(href='https://github.com/publiclab')
                                            i.fab.fa-github.fa-lg
                                        a.mx-2(href='https://publiclab.org/')
                                            i.fas.fa-globe.fa-lg
                                    //- .project-link
                                    //-     a(href='https://github.com/cypherean/CricLive')
                                    //-         i.fab.fa-github.fa-lg
                                    //-     a(href='https://devfolio.co/submissions/criclive')
                                    //-         img.icon(src='assets/img/de.svg')
                                        //- a.portfolio-link(data-toggle='modal' href='#portfolioModal3')
                                        //-     | Read more
                                        //-     i.fas.fa-angle-right.fa-lg
                                //- img.d-block.app-img(src='assets/img/portfolio/criclive.png' alt='CricLive')
                                
        // Timeline
        section#timeline.page-section.bg-light
            .container
                h1.text-black.text-center Achievements
                ul.timeline
                    //- li
                    //-     .timeline-image
                    //-         img.rounded-circle.img-fluid(src='assets/img/about/1.jpg' alt='')
                    //-     .timeline-panel
                    //-         .timeline-heading
                    //-             h4 May 2017
                    //-             h4.subheading St. Thomas School, Indirapuram
                    //-         .timeline-body
                    //-             p.text-muted
                    //-                 | High School
                    //-                 br
                    //-                 | CGPA: 10
                    //- li.timeline-inverted
                    //-     .timeline-image
                    //-         img.rounded-circle.img-fluid(src='assets/img/about/2.jpg' alt='')
                    //-     .timeline-panel
                    //-         .timeline-heading
                    //-             h4 May 2019
                    //-             h4.subheading St. Thomas School, Indirapuram
                    //-         .timeline-body
                    //-             p.text-muted
                    //-                 | Intermediate
                    //-                 br
                    //-                 | Percentage: 95.6
                    //- li
                    //-     .timeline-image
                    //-         img.rounded-circle.img-fluid(src='assets/img/about/3.jpg' alt='')
                    //-     .timeline-panel
                    //-         .timeline-heading
                    //-             h4 July 2019
                    //-             h4.subheading IIT Roorkee
                    //-         .timeline-body
                    //-             p.text-muted
                    //-                 | Bachelor of Technology in Civil Engineering
                    //-                 br
                    //-                 | CGPA: 9.135
                    //- li.timeline-inverted
                    //-     .timeline-image
                    //-         img.rounded-circle.img-fluid(src='assets/img/about/4.jpg' alt='')
                    //-     .timeline-panel
                    //-         .timeline-heading.text-left
                    //-             h4 January 2020
                    //-             h4.subheading SDSLabs and PAG
                    //-         .timeline-body
                    //-             p.text-muted
                    //-                 | SDSLabs organizes lectures and hackathons and participates in various technical competitions.
                    //-                 br 
                    //-                 | PAG aims to promote Competitive Programming in the campus.
                    //- li
                    //-     .timeline-image
                    //-         img.rounded-circle.img-fluid(src='assets/img/about/5.jpg' alt='')
                    //-     .timeline-panel
                    //-         .text-right
                    //-             h4 Outreachy
                    //-             h4.subheading May-August 2020
                    //-         .timeline-body
                    //-             p.text-muted
                    //-                 | Selected as an Outreachy intern and worked on fortification of
                    //-                 b Public Lab Editor 
                    //-                 | and improving scalability, ease of contribution and maintenance.  
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/6.jpg' alt='')
                        .timeline-panel
                            .text-right
                                h4 HAB59 Hackathon
                                h4.subheading August 2020
                            .timeline-body
                                p.text-muted
                                    | Won 
                                    b first prize 
                                    | in the Office Productivity Category in HAB59 Hackathon with our app 
                                    b ikai.
                                    | It can scan, edit and share multimedia to make remote collaboration easier.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/5.jpg' alt='')
                        .timeline-panel
                            .text-left
                                h4 Inout 7.0
                                h4.subheading January 2021
                            .timeline-body
                                p.text-muted
                                    b First Runner up 
                                    | at Inout 7.0 with 
                                    b CricLive.
                                    | It grabs live cricket text-commentary and recreates the match using animations.
                    li.timeline-inverted
                        .timeline-image
                            h4
                                | To be
                                br
                                | Continued!
        //- // Timeline
        //- section#ps-timeline-sec.page-section.bg-light
        //-     .container.bg-light.text-center
        //-         h1.text-black Achievements
        //-         ol.ps-timeline
        //-             li
        //-                 .img-handler-top
        //-                     img(src='assets/img/logo.png' alt='')
        //-                 .ps-bot
        //-                     h5 SDSLabs and PAG
        //-                     h5.subheading January 2020
        //-                     p.text-muted
        //-                             b SDSLabs 
        //-                             | fosters to the Tech needs of IITR.
        //-                             br 
        //-                             | PAG promotes Competitive Programming in the campus.
        //-                 span.ps-sp-top
        //-             li
        //-                 .img-handler-bot
        //-                     img.img-tm(src='assets/img/portfolio/outreachylogo.png' alt='')
        //-                 .ps-top
        //-                     h5 Outreachy
        //-                     h5.subheading May-August 2020
        //-                     .timeline-body
        //-                         p.text-muted
        //-                             | Selected as an Outreachy intern and worked on fortification of
        //-                             b Public Lab Editor 
        //-                             | from May 2020 to August 2020. 
        //-                 span.ps-sp-bot
        //-             li
        //-                 .img-handler-top
        //-                     img.img-tm(src='assets/img/portfolio/ikailogo.png' alt='')
        //-                 .ps-bot 
        //-                     h5 HAB59 Hackathon
        //-                     h5.subheading August 2020
        //-                     .timeline-body
        //-                         p.text-muted
        //-                             | Won first prize in the Office Productivity Category in HAB59 Hackathon with our app 
        //-                             b ikai.
        //-                             //- br 
        //-                             //- | 
        //-                             //- b Ikai 
        //-                             //- | is a one stop mobile app to scan, edit and share multimedia to make remote collaboration easier.
        //-                 span.ps-sp-top
        //-             li
        //-                 .img-handler-bot
        //-                     img(src='assets/img/portfolio/criclivelogo.png' alt='')
        //-                 .ps-top
        //-                     h5 Inout 7.0
        //-                     h5.subheading January 2021
        //-                     .timeline-body
        //-                         p.text-muted
        //-                             | First Runner up at Inout 7.0 with 
        //-                             b CricLive,
        //-                             | an app that takes text-commentary and recreates the Cricket match.
        //-                 span.ps-sp-bot

        // Contact
        section#contact.contact-section.bg-black
            .container
                .row.d-flex.justify-content-between
                    .col-lg-8
                        .cred.text-white 
                            //- | Stay tuned!
                            //- br
                            | Best, 
                            br 
                            | Shreyaa Sharma
                        //- .row
                        //-     .col-md-4.mb-3.mb-md-0
                        //-         .card.py-4.h-100
                        //-             .card-body.text-center
                        //-                 i.fab.fa-github.text-primary.mb-2
                        //-                 h4.text-uppercase.m-0 Github
                        //-                 hr.my-4
                        //-                 .small.text-black-50
                        //-                     a(href='https://github.com/cypherean') cypherean
                        //-     .col-md-4.mb-3.mb-md-0
                        //-         .card.py-4.h-100
                        //-             .card-body.text-center
                        //-                 i.fas.fa-envelope.text-primary.mb-2
                        //-                 h4.text-uppercase.m-0 Email
                        //-                 hr.my-4
                        //-                 .small.text-black-50
                        //-                     a(href='#!') cypherean@gmail.com
                        //-     .col-md-4.mb-3.mb-md-0
                        //-         .card.py-4.h-100
                        //-             .card-body.text-center
                        //-                 i.fas.fa-file.text-primary.mb-2
                        //-                 h4.text-uppercase.m-0 Resume
                        //-                 hr.my-4
                        //-                 .small.text-black-50
                        //-                     a(href='assets/docs/resume.pdf') Resume
                    .col-lg-4
                        .social.d-flex.flex-row-reverse
                            a.mx-2(href='https://www.linkedin.com/in/cypherean/')
                                i.fab.fa-linkedin
                            a.mx-2(href='https://twitter.com/cypherean')
                                i.fab.fa-twitter
                            a.mx-2(href='assets/docs/shreyaa_sharma_resume  .pdf')
                                i.fas.fa-file
                            a.mx-2(href='mailto:cypherean@gmail.com')
                                i.fas.fa-envelope
                            a.mx-2(href='https://github.com/cypherean')
                                i.fab.fa-github
                            //- a.mx-2(href='https://gitter.im/shreyaa-sharmaa')
                            //-     i.fab.fa-gitter
                        //- .foot 
                        //-     .text-white
                        //-         | Shreya Sharma

    //- // Footer
    //- footer.footer.bg-black.small.text-center.text-white-50
    //-     .container
    //-         | Shreyaa Sharma
    //-         .social.d-flex.justify-content-center
    //-                 a.mx-2(href='https://github.com/cypherean')
    //-                     i.fab.fa-github
    //-                 a.mx-2(href='mailto:cypherean@gmail.com')
    //-                     i.fas.fa-envelope
    //-                 a.mx-2(href='assets/docs/resume.pdf')
    //-                     i.fas.fa-file
    //-                 a.mx-2(href='https://www.linkedin.com/in/cypherean/')
    //-                     i.fab.fa-linkedin
    //-                 a.mx-2(href='https://twitter.com/cypherean')
    //-                     i.fab.fa-twitter
    //-                 a.mx-2(href='https://gitter.im/shreyaa-sharmaa')
    //-                     i.fab.fa-gitter
    // Portfolio Modals
    // Modal 1
    #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
            .modal-content
                .close-modal(data-dismiss='modal')
                    img(src='assets/img/close-icon.svg' alt='Close modal')
                .container
                    .row.justify-content-center
                        .col-lg-8
                            .modal-body
                                // Project Details Go Here
                                h2.text-uppercase Project Name
                                p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/01-full.jpg' alt='...')
                                p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                ul.list-inline
                                    li Date: January 2021
                                    li Client: Threads
                                    li Category: Illustration
                                button.btn.btn-primary(data-dismiss='modal' type='button')
                                    i.fas.fa-times.mr-1
                                    | Close Project
    // Modal 2
    #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
            .modal-content
                .close-modal(data-dismiss='modal')
                    img(src='assets/img/close-icon.svg' alt='Close modal')
                .container
                    .row.justify-content-center
                        .col-lg-8
                            .modal-body
                                // Project Details Go Here
                                h2.text-uppercase Project Name
                                p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/02-full.jpg' alt='...')
                                p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                ul.list-inline
                                    li Date: January 2021
                                    li Client: Explore
                                    li Category: Graphic Design
                                button.btn.btn-primary(data-dismiss='modal' type='button')
                                    i.fas.fa-times.mr-1
                                    | Close Project
    // Modal 3
    #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
            .modal-content
                .close-modal(data-dismiss='modal')
                    img(src='assets/img/close-icon.svg' alt='Close modal')
                .container
                    .row.justify-content-center
                        .col-lg-8
                            .modal-body
                                // Project Details Go Here
                                h2.text-uppercase Project Name
                                p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/03-full.jpg' alt='...')
                                p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                ul.list-inline
                                    li Date: January 2021
                                    li Client: Finish
                                    li Category: Identity
                                button.btn.btn-primary(data-dismiss='modal' type='button')
                                    i.fas.fa-times.mr-1
                                    | Close Project
    // Modal 4
    #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
            .modal-content
                .close-modal(data-dismiss='modal')
                    img(src='assets/img/close-icon.svg' alt='Close modal')
                .container
                    .row.justify-content-center
                        .col-lg-8
                            .modal-body
                                // Project Details Go Here
                                h2.text-uppercase Project Name
                                p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/04-full.jpg' alt='...')
                                p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                ul.list-inline
                                    li Date: January 2021
                                    li Client: Lines
                                    li Category: Branding
                                button.btn.btn-primary(data-dismiss='modal' type='button')
                                    i.fas.fa-times.mr-1
                                    | Close Project
    // Modal 5
    #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
            .modal-content
                .close-modal(data-dismiss='modal')
                    img(src='assets/img/close-icon.svg' alt='Close modal')
                .container
                    .row.justify-content-center
                        .col-lg-8
                            .modal-body
                                // Project Details Go Here
                                h2.text-uppercase Project Name
                                p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/05-full.jpg' alt='...')
                                p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                ul.list-inline
                                    li Date: January 2021
                                    li Client: Southwest
                                    li Category: Website Design
                                button.btn.btn-primary(data-dismiss='modal' type='button')
                                    i.fas.fa-times.mr-1
                                    | Close Project
    // Modal 6
    #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog
            .modal-content
                .close-modal(data-dismiss='modal')
                    img(src='assets/img/close-icon.svg' alt='Close modal')
                .container
                    .row.justify-content-center
                        .col-lg-8
                            .modal-body
                                // Project Details Go Here
                                h2.text-uppercase Project Name
                                p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/06-full.jpg' alt='...')
                                p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                ul.list-inline
                                    li Date: January 2021
                                    li Client: Window
                                    li Category: Photography
                                button.btn.btn-primary(data-dismiss='modal' type='button')
                                    i.fas.fa-times.mr-1
                                    | Close Project

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')

