// Override Bootstrap color system

$teal: #64a19d;
$black: hsl(0, 0%, 0%);
$alt: #9dad7f;

// Override Bootstrap default state colors

$primary: $teal;

// Add colors to the color map

$theme-colors: (
    "black": $black,
);
